<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="de.markusfisch.android.socketlistener"
	android:versionCode="1"
	android:versionName="0.0.0"
	android:installLocation="auto">
	<supports-screens
		android:resizeable="true"
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:xlargeScreens="true"
		android:anyDensity="true"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<application
		tools:ignore="UnusedAttribute"
		android:name=".app.SocketListenerApp"
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:supportsRtl="true"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">
		<service
			android:name=".service.SocketListeningService"
			android:exported="false"/>
		<activity
			android:name=".activity.MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
</manifest>
